.modal-body > a {
    display: block;
    text-decoration: none;
}

.modal-body > a.warning {
    color: red;
}

.modal-body > a:hover {
    color: inherit;
}

.modal-body p {
    margin: 0;
}

.success-icon {
    font-size:65px;
    display: block;
    padding: 10px;
    background: #5cb85c;
    color: white;
    margin: 0 5px 5px 0;
}

.success-mark {
    font-size:70px;
    display: block;
    padding: 10px;
    color: #5cb85c;
    margin: 0 5px 5px 0;
}

.warning-icon {
    font-size:65px;
    display: block;
    padding: 10px;
    background: #f0ad4e;
    color: white;
    margin: 0 5px 5px 0;
}

.warning-mark {
    font-size:70px;
    display: block;
    padding: 10px;
    color: #f0ad4e;
    margin: 0 5px 5px 0;
}

.danger-icon {
    font-size:65px;
    display: block;
    padding: 10px;
    background: #d9534f;
    color: white;
    margin: 0 5px 5px 0;
}

.danger-mark {
    font-size:70px;
    display: block;
    padding: 10px;
    color: #d9534f;
    margin: 0 5px 5px 0;
}
